
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 33, 33, 33;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #3b82f6; /* Blue-500 */
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2563eb; /* Blue-600 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.4em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.stagger-fade-in {
  animation: fadeIn 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-fill-mode: both;
}
